/* Faixa de destaque */
.faixa {
    background-color: #662a66b4;
    height: 300px;
    width: 100%;
    text-align: center;
    line-height: 300px;
    color: rgb(202, 202, 202);
    font-size: 150px;
    font-family: 'Bokor', sans-serif;
    border-radius: 78px
}

/* Estilo para a caixa central */
.caixa {
    width: 400px;
    height: 600px;
    background-color: #13030fb9;
    display: flex;
    flex-direction: column; /* Para alinhar o formulário verticalmente */
    justify-content: center;
    align-items: center;
    color: #e4dcdc;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 78px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo do formulário */
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo dos inputs e botões */
label {
    margin-top: 15px;
    font-size: 18px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #850585;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6a046a;
}

.btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #850585;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0,3s ease;
    text-decoration: none;
    display: inline-block;
}
