<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles_cadastro.css">
    <title>Site dos Guri!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bokor&display=swap" rel="stylesheet">
    <style>
        /* Estilo para a faixa colorida */
        

    </style>
</head>
<body style="background-color: rgb(241, 173, 250);">

    
    <div class="faixa">NOZAMA</div>
    <div class="faixa2"></div>
    
    <!-- Outros elementos -->

    <div class="caixa">
        <form action="/create_usuario" method="post">
            
            
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required required minlength="5"><br><br>

            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="senha">Senha:</label><br>
            <input type="text" id="senha" name="senha"  required minlength="6"><br><br>

            <label for="endereco">Endereco:</label><br>
            <input type="endereco" id="email" name="endereco" required><br><br>

            <label for="data_nascimento">Data de Nascimento:</label><br>
            <input type="date" id="data_nascimento" name="data_nascimento" required min="1900-01-01" max="2024-12-31" value="2000-01-01">
            <br><br>

            <input type="submit" value="Enviar">
        </form>
    </div>
    



    <!-- Caixa centralizada -->
    

</body>
</html>
